@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
:root{
    --fonte-principal: "Space Grotesk", serif;
    --cor-background: #C8553D;
    --cor-texto-primaria: #F28F3B;
    --cor-texto-secundaria: #FFFFFF;
}
* { 
    margin: 0px;
    padding: 0px;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4%;
    gap: 5rem;
}

.cabecalho__links{
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--cor-texto-secundaria);
    display: inline;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0% 1.8%;
    cursor: pointer;
    transition: 0.2s;
    border: 3px solid transparent;
    border-radius: 0.5rem;
}

.cabecalho__links:hover{
    background-color: #d78271;
}
body{
    box-sizing: border-box;
    overflow: scroll;
    background-color: var(--cor-background);
}

.principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7%;
    margin-top: 2.5%;
    width: auto;
}

.principal__conteudo{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.principal__conteudo__titulo{
    font-family: var(--fonte-principal);
    font-weight: 600;
    font-size: 45px;
    color: var(--cor-texto-primaria);
}

.principal__conteudo__subtitulo{
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-style: bold;
    color: var(--cor-texto-primaria);
    font-size: 1.3rem;
}

.principal__conteudo__lista__titulo{
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-style: bold;
    font-size: 1.5rem;
    color: var(--cor-texto-primaria);
}

.principal__conteudo__lista__conteudo{
    padding: 2% 8%;
    font-family: var(--fonte-principal);
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--cor-texto-secundaria);
}

.principal__conteudo__letreiro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal__conteudo__letreiro{
    font-family: var(--fonte-principal);
    font-weight: 600;
    font-size: 1.9rem;
    font-style: medium;
    color: var(--cor-texto-primaria);
}

.principal__conteudo__letreiro__links{
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-style: bold;
    color: var(--cor-texto-secundaria);
    display: flex;
    gap: 1.5rem;
}

strong{
    color: var(--cor-texto-secundaria);
}

.principal__conteudo__botoes{
    display: flex;
    padding-top: 4%;
    align-items: center;
    flex-direction: column;
    gap: 1.3rem;
}

.principal__conteudo__botoes__links{
    padding: 3% 10%;
    display: inline;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 5rem;
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-size: 1.8rem;
    color: var(--cor-texto-secundaria);
    border: 3px solid var(--cor-texto-primaria);    
    border-radius: 0.35rem;  
    cursor: pointer;
    transition: 0.5s;
}

.principal__conteudo__botoes__links:hover{
    background-color: var(--cor-texto-secundaria);
    color: var(--cor-background);
    border: 3px solid var(--cor-texto-secundaria);
}

.rodape{
    display: flex;
    justify-content: center;
    padding: 1.5%;
    background-color: var(--cor-texto-secundaria);
}

.rodape__titulo{
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--cor-texto-primaria);
}